.app-shell {
    min-height: 100vh;
    padding: 3rem 2rem 4rem;
}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
}

.top-nav {
    display: flex;
    gap: 1rem;
    margin-bottom:  2rem;
    padding: 1rem;
}

.nav-link {
    padding: 1rem 1.2rem;
    border-radius: 1rem;
    color: #cbd5e1;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #686f71;
}

.nav-link-active {
    background: #6aabfb;
    color: #fff;
    font-weight: bolder;
}
