.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem 0rem;
}

.stat-card {
    background: #1d234c;
    border: 1px solid rgba(144, 144, 144, 0.12);
    border-radius: 4px;
    padding:1rem;
}

.stat-card span {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #9f9d9d;
}

.stat-card strong {
    font-size: 1.8rem;
    font-weight: bolder;
}
